$paragraph-fonts: 'Bitter', serif;
$heading-fonts: 'Abril Fatface', cursive;

.jumbotron {
    background: url("https://images.pexels.com/photos/1097456/pexels-photo-1097456.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") 0/cover;
    border-radius: 0;
    color: white;
    text-shadow: 2px 2px 4px darkslategray;
    height: 100vh;
    display: flex;
    align-items: center;
    .container {
        border: 3px solid white;
        text-align: center;
        h1 {
            font-family: $heading-fonts;
            font-size: 80px;
        }
        p {
            font-family: $paragraph-fonts;
            font-size: 30px;
            font-weight: bold;
        }
    }
}

section {
    p {
        font-family: $paragraph-fonts;
    }
}